@{
    ViewBag.Title = "CloseTrade";
}
<select class="selecr-open j-close-reason">
    <option value="">请选择关闭理由</option>
    <option value="未及时付款">未及时付款</option>
    <option value="买家联系不上">买家联系不上</option>
    <option value="谢绝还价">谢绝还价</option>
    <option value="商品瑕疵">商品瑕疵</option>
    <option value="协商不一致">协商不一致</option>
    <option value="买家不想买">买家不想买</option>
    <option value="与买家协商一致">与买家协商一致</option>
</select>
