@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoWxRefund</title>
</head>
<body>
    @Html.Raw(ViewData["RefundResult"])
</body>
</html>
