@model IList<Yun.Archive.ArticleDetail>

<ul>
    @foreach (var m in Model)
    {
        <li>
            <a href="@Url.Action("Article", new { id = m.Id })">
                <div class="new-pic">
                    <img src="@BreezeShop.Core.FileFactory.ImageExtension.GetUrl("310", m.Thumb)" class="img-responsive" />
                </div>
                <div class="new-info">
                    <h2 class="new-title">@m.Title</h2>
                    <p class="new-time">@m.CreateTime</p>
                </div>
            </a>
        </li>
    }
</ul>
