@model BreezeShop.Web.Areas.Admin.Models.ResetPasswordModel
@{
    Layout = null;
}

@using (Html.BeginForm("ModifyPassword", "Member", new { id = ViewContext.RouteData.Values["id"], }, FormMethod.Post, new { @class = "form-horizontal", id = "J-ContentForm" }))
{
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Password">密码：</label>
        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                @Html.PasswordFor(m => m.Password, new { @class = "input-large" })
            </div>
            <div class="help-block">@Html.ValidationMessageFor(m => m.Password)</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="ConfirmPassword">确认密码：</label>
        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-large" })
            </div>
            <div class="help-block">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
        </div>
    </div>
}


<script type="text/javascript">
    $("#J-ContentForm").unobtrusiveValidate();
</script>