@model BreezeShop.Web.Areas.Admin.Models.ModifyMoneyModel
@{
    Layout = null;
}
<h6 class="red">输入“正数”表示增加余额，输入“负数”表示扣除余额</h6>
<div class="space-8"></div>
@using (Html.BeginForm("ModifyMoney", "Member", new { id = ViewContext.RouteData.Values["id"], }, FormMethod.Post, new { @class = "form-horizontal", id = "Js-ContentForm" }))
{
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-1 no-padding-right" for="Money">金额</label>
        <div class="col-xs-12 col-sm-11">
            <div class="clearfix">
                @Html.TextBoxFor(m => m.Money, new { @class = "input-small"})
            </div>
            <div class="help-block">@Html.ValidationMessageFor(m => m.Money)</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-1 no-padding-right" for="Remark">原因</label>
        <div class="col-xs-12 col-sm-11">
            <div class="clearfix">
                @Html.TextAreaFor(m => m.Remark, new { @class = "input-large" })
            </div>
            <div class="help-block">@Html.ValidationMessageFor(m => m.Remark)</div>
        </div>
    </div>
}

<script type="text/javascript">
    $("#Js-ContentForm").unobtrusiveValidate();
</script>